<a href="https://colab.research.google.com/github/NarawitPrathansap/BasicProg_DataViz65/blob/main/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_Pandas_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

## Meta Data = Dara that describe data

## CSV = Comma Separated Value

# นำ Data เข้า
*   upload to colab
*   link with google drive

### upload to colab

In [7]:
data0 = pd.read_csv('/content/opendata_project.csv')

FileNotFoundError: ignored

In [ ]:
data0.head()

### link with google drive

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
data1 = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')

In [11]:
data1.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,19/11/2021 18:00,19/11/2021 17:44,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,27/1/2022 14:30,27/1/2022 14:22,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14/1/2022 15:00,14/1/2022 14:40,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4/12/2020 10:40,14/10/2020 1:06,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,12/11/2021 13:30,3/2/2021 12:12,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
data1.tail(10)

In [ ]:
data1.shape

In [ ]:
data1.describe()

In [ ]:
data1['propertytype_name_en']

In [ ]:
data1['propertytype_name_en'][42624]

In [ ]:
data1.iloc[42619,5]

In [ ]:
data1.iloc[-6,5]

# Table Slicing

In [ ]:
data1.iloc[-20:,7:10]

# Table Query

In [ ]:
data1[data1['propertytype_name_en']=='Condo'] ## ใช้ logical condition ในการเลือก data

In [ ]:
data1['propertytype_name_en']=='Condo'

หาพื้นที่เฉลี่ยของบ้านที่ราคาเกิน 10 ล้าน

In [ ]:
data1[data1['price_min']>10000000]

In [ ]:
data1[data1['price_min']>10000000].describe()

# Quiz 4

1. ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ล้านบาท
2. พื้นที่ และ จำนวนห้องนอนของบ้านที่แพงที่สุด
3. จำนวนที่จอดรถและห้องน้ำของบ้านที่ถูกที่สุด
4. ชนิดของบ้านที่แพงที่สุด
5. บ้านชนิดไหนมีปริมาณมากที่สุด

In [ ]:
data1[(data1['price_min']>30000000) & (data1['price_min']<50000000)].describe()

In [ ]:
Y_data = data1['price_min'].max()

In [ ]:
pd.set_option('display.max_columns', 27)

In [ ]:
data1[data1['price_min']==580000000][['area_usable_min','count_room_bed']]

In [ ]:
data1['price_min'].min()

In [ ]:
X_data = data1[(data1['price_min']==100000.0)].head()
X_data

In [ ]:
X_data[['count_parking','count_room_bath']]

In [ ]:
data1['propertytype_name_en'][33122]

In [ ]:
data1['propertytype_name_en'].describe()

## เฉลยอ.

## 1 ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง3ล้านถึง5ล้าน

In [46]:
data1[(data1['price_min']>=3000000) & (data1['price_min']<=5000000)].describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,8943.000000,8943.000000,1066.000000,8148.000000,8.943000e+03,418.000000,0.0,6917.000000,5602.000000,8749.000000,8604.000000,3290.00000,3239.000000,4791.000000,1963.000000,150.000000,1223.000000,161.000000
mean,21153.925976,1285.383987,46.709559,138.785306,3.922594e+06,2.653110,NaN,2.132716,1.877722,2.406904,2.736634,1.00152,1.005557,1.016489,1.028018,1.033333,1.038430,1.105590
std,12338.077057,4901.447720,18.555223,66.760066,5.847665e+05,1.128124,NaN,0.577204,0.497313,0.915960,0.986672,0.03896,0.074351,0.127361,0.171131,0.214153,0.200641,0.396902
min,2.000000,1.000000,2.000000,20.100000,3.000000e+06,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10042.500000,1.000000,30.000000,96.000000,3.450000e+06,2.000000,NaN,2.000000,2.000000,2.000000,2.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21864.000000,2.000000,50.000000,145.000000,3.880000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,32198.000000,3.000000,60.000000,178.000000,4.400000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42617.000000,20000.000000,99.000000,896.000000,5.000000e+06,7.000000,NaN,4.000000,10.000000,9.000000,10.000000,2.00000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000

In [43]:
price_mean = data1[(data1['price_min']>=3000000) & (data1['price_min']<=5000000)]['price_min'].mean()
price_mean

3922594.017891088

In [44]:
print(f'ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5ล้าน คือ {int(price_mean) :,}')

ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5ล้าน คือ 3,922,594

## 2. พื้นที่ และ จำนวนห้องนอนของบ้านที่แพงที่สุด

In [47]:
data1['price_min'].max()

580000000.0

In [48]:
data1[data1['price_min']==data1['price_min'].max()]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
33122,8629,unittype_37324,project_16305,Penthouse,2,Condo,คอนโด,NaN,1182.0,580000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12/11/2021 13:20,14/10/2020 0:55,baania,https://baania.com/th/project/เดอะ-สุโขทัย-เรส...

In [49]:
data1[data1['price_min']==data1['price_min'].max()][['propertytype_name_en','area_usable_min','count_room_bed','price_min']]

      propertytype_name_en  area_usable_min  count_room_bed    price_min
33122                Condo           1182.0             3.0  580000000.0

## 3. จำนวนที่จอดรถและห้องน้ำของบ้านที่ถูกที่สุด

In [50]:
data1[data1['price_min']==data1['price_min'].min()][
    ['propertytype_name_en',
     'count_room_bath',
     'count_parking',
     'price_min']]

      propertytype_name_en  count_room_bath  count_parking  price_min
8640                 Condo              1.0            NaN   100000.0
11019                Condo              1.0            NaN   100000.0
17941                Condo              1.0            NaN   100000.0
30364                Condo              1.0            NaN   100000.0

## 4. ชนิดของบ้านที่แพงที่สุด

In [51]:
data1[data1['price_min']==data1['price_min'].max()][['propertytype_name_en','price_min']]

      propertytype_name_en    price_min
33122                Condo  580000000.0

## 5. บ้านชนิดไหนมีปริมาณมากที่สุด

In [52]:
data1['propertytype_name_en'].describe()

count              42625
unique                11
top       Detached House
freq               17670
Name: propertytype_name_en, dtype: object